{% extends "template.html" %}
{% block title %}
	Event Details
{% endblock %}
{% block head %}
  {{ super() }}
  <!-- render the contents of a block defined in the parent template -->
{% endblock %}
{% block content %}
	<h1>
		<i class="fas fa-exclamation-triangle"></i>
		Security Event #{{e.id}} Details
	</h1>	
	
	{{e.date}}
	
	<h2>Picture</h2>
	
	<img src=static/events/{{e.date.split(' ')[0]+'/'+e.date.split(' ')[1]+'.jpg'}} class="img-fluid" />
	
	<h2>Video</h2>
	
	<video src=static/events/{{e.date.split(' ')[0]+'/'+e.date.split(' ')[1].replace(':','_')+'.mp4'}} controls="controls" class="video-stream"></video>
	
	<br>
	
	<a href="{{url_for('event_details', id=e.id, delete=1)}}" class="btn btn-warning">delete</a>
	
{% endblock %}
